body {
  background: #EEEEEE;
  font-family: "monospace", Helvetica, Arial, sans-serif;
  padding: 0; margin: 0;
}

a img {
  border: none !important; }

a {
  text-decoration: none;
  color: #a9c;
  outline: none;
 }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

a:hover { opacity: 0.8; }

#ribbon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2; }



#room {
  position: absolute;
  top: 150px;
}
#room, #users {
  line-height: 30px;
  color: #9F9686;
}
.chat {
  position: absolute;
  bottom: 76px;
  left: 10px;
  top: 55px;
/*  height: 200px; */
  right: 180px;
  overflow-y: auto;
/*  color: white;*/
  color: #440066;
  padding: 10px;
/*  background: rgba(255, 255, 255, 0.699219); */
  background: transparent;
  border-style: solid;
  border-color: #440066;
  border-width: 0 5px 3px 5px;
  
  word-wrap: break-word;  
}
.chat .from {        
/*  font-weight: bold;*/
  color: lightSteelBlue;
  border-bottom: 1px solid #7F8794;
  margin-top: 5px;
}
.chat .from .date {
  float: right;
  font-size: 0,9em;
  font-weight: normal;
}

input[type=submit] {
/*  display: none; */
  border-style: solid;
  background-color: #EEE;
  padding: 5px 10px;
  
  right: -10px;
  bottom: 5px;
  position: absolute;
  
}
.room form {
  position: absolute;
  bottom: 40px;
  left: 10px;
  right: 210px;
}
.room form input[type=text]{
  padding:5px 10px;
  color:#666666;
  background-color:#F7F7F7;
  border-style: solid;
  border-width: 0 5px 1px 5px;
  border-color: #CCCCCC #440066;
  font-size: 20px;
  line-height: 25px;
  background: #fff;       
  width: 100%;
  -webkit-border-bottom-left-radius : 20px; 
  -moz-border-radius-bottomleft : 20px; 
  border-bottom-left-radius : 20px; 
  -webkit-border-bottom-right-radius : 20px; 
  -moz-border-radius-bottomright : 20px; 
  border-bottom-right-radius : 20px; 
}

.nicks {
  position: absolute;
  top: 100px;
  bottom: 0;
  right: 0;
  width: 150px;
  color: black;
}
#rooms {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}
#rooms ul {
  margin: 0;
  padding: 0;
  color: black;
}
#rooms ul li {
  float: left;
  list-style: none;
  margin: 0 3px;
  padding: 0px 20px;
  line-height: 30px;
  background: #3F3B32;
  cursor: pointer;
}
#rooms ul li.active {
  background: #9F998D;
}
.help {
/*  background: #440066 url('/public/bubblepurpledark.png') repeat right top;*/
  background: #440066;
  padding: 15px;
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  padding: 5px 10px;
  margin: 0;
  line-height: 32px;



}
.help span {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
  font-size:32px;
  text-shadow:#110044 0 -1px 1px, #EEDDFF 0 1px 1px;
}
.help img {
  position: relative;
  top: 5px;
  left: 0;
}
/*em {
  color:rgba(255, 255, 255, 0.699219);
  font-style:normal;
}*/
.help em {
  color:#a9c;
  font-style:normal;
}
.help b {
  color:rgba(255, 255, 255, 0.699219);
  font-size: 18px;
}

b {
  color: #9F998D;
  font-size: 18px;
}

#rooms ul li.pm {
  background: #440066;
}
#rooms ul li.pm.active {
  background: purple;
  color: rgba(255, 255, 255, 0.699219);
}
.nicks {
  color: lightSteelBlue;
}
.nicks a {
/*  color: violet;*/
text-decoration: none;
color: #a9c;
}
.notice {
  color: lightSteelBlue;
}
